{{- define "main" -}}

<article class="article article-project">
  {{ partial "page_header" . }}

  <div class="article-container">
    <!-- <div class="article-meta mb-3">
      <button type="button" class="btn btn-outline-secondary my-1">{{.Params.databaseSystem }}</button>
      <button type="button" class="btn btn-outline-secondary my-1">Alternate Name: {{.Params.alternateName }}</button>
      <button type="button" class="btn btn-outline-secondary my-1">Version: {{.Params.version }}</button>
      <button type="button" class="btn btn-outline-secondary my-1">License: {{.Params.license }}</button>
      <a type="button" class="btn btn-outline-primary my-1" href="{{.Params.databaseUrl }}"><i class="fas fa-link mr-1"></i>URL</a>
    </div> -->
    <div class="article-style">

      <!-- <p>{{ .Summary }}</p> -->
      <p>{{ .Description }}</p>
      
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="jsonld-tab" data-toggle="tab" href="#jsonld" role="tab" aria-controls="jsonld" aria-selected="false">JSON-LD</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
          <p><b>Database URL:</b> <a href="{{ .Params.databaseUrl }}">{{ .Params.databaseUrl }}</a></p>
          <p><b>Database System:</b> {{ .Params.databaseSystem }}</p>
          <p><b>Database Alternate Name:</b> {{ .Params.alternateName }}</p>
          <p><b>Database Version:</b> {{ .Params.version }}</p>
          <p><b>Date Created:</b> {{ .Params.dateCreated }}</p>
          <p><b>Date Modified:</b> {{ .Params.dateModified }}</p>
          <p><b>Start Date:</b> {{ .Params.startDate }}</p>
          <p><b>End Date:</b> {{ .Params.endDate }}</p>
          <p><b>Spatial Coverage:</b> {{ .Params.spatialCoverage }}</p>
          <p><b>Population Size:</b> {{ .Params.populationSize }}</p>
          <p><b>Database Characteristic:</b> <ul>
            {{range .Params.databaseCharacteristic }}
            <li>{{ . }}</li>
            {{end }}
          </ul></p>
          <p><b>Associated Institution:</b> {{ .Params.associatedInstitution }}</p>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <b>Administrative Contact:</b>
          <ul>
            <li><b>Name:</b> {{.Params.administrativeContact.name }}</li>
            <li><b>Email:</b> <a href="mailto:{{.Params.administrativeContact.email }}">{{.Params.administrativeContact.email }}</a></li>
            <li><b>Telephone:</b> {{.Params.administrativeContact.telephone }}</li>
          </ul>
          <b>Principal Investigator Contact:</b>
          <ul>
            <li><b>Name:</b> {{.Params.principalInvestigator.name }}</li>
            <li><b>Email:</b> <a href="mailto:{{.Params.principalInvestigator.email }}">{{.Params.principalInvestigator.email }}</a></li>
            <li><b>Telephone:</b> {{.Params.principalInvestigator.telephone }}</li>
          </ul>
          <b>Scientific Contact:</b>
          <ul>
            <li><b>Name:</b> {{.Params.scientificContact.name }}</li>
            <li><b>Email:</b> <a href="mailto:{{.Params.scientificContact.email }}">{{.Params.scientificContact.email }}</a></li>
            <li><b>Telephone:</b> {{.Params.scientificContact.telephone }}</li>
          </ul>
          <b>Technical Contact:</b>
          <ul>
            <li><b>Name:</b> {{.Params.technicalContact.name }}</li>
            <li><b>Email:</b> <a href="mailto:{{.Params.technicalContact.email }}">{{.Params.technicalContact.email }}</a></li>
            <li><b>Telephone:</b> {{.Params.technicalContact.telephone }}</li>
          </ul>
        </div>
        <div class="tab-pane fade" id="jsonld" role="tabpanel" aria-labelledby="jsonld-tab">
          {{ $params := .Params }}
          <script>
          function copyToClipboard() {
            const str = document.getElementById('item-to-copy').innerText;
            const el = document.createElement('textarea');
            el.value = str;
            el.setAttribute('readonly', '');
            el.style.position = 'absolute';
            el.style.left = '-9999px';
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
            alert('JSON-LD copied to clipboard.')
        }
        </script>
        <button class="btn btn-outline-primary mb-3" onclick="copyToClipboard()" style="text-align: right;"><i class="far fa-copy mr-1"></i>Copy to clipboard</button>

        <pre id="item-to-copy" style="color: #000; font-size: 14px; line-height:1;"><code class="json">
{
  "@graph": [
    {
      "@id": "ohdsi:database/{{ $params.id }}",
      "@type": "ohdsi:Database",
      "administrativeContact": "ohdsi:person/{{ $params.administrativeContact.id }}",
      "associatedInstitution": "{{ $params.associatedInstitution }}",
      "databaseCharacteristic": [{{ range $i, $e := $params.databaseCharacteristic }}{{ if $i }}, {{ end }}
        "{{ $e }}"{{ end }}
      ],
      "databaseSystem": "{{ $params.databaseSystem }}",
      "ohdsi:populationSize": "{{ $params.populationSize }}",
      "principalInvestigator": "ohdsi:person/{{ $params.principalInvestigator.id }}",
      "scientificContact": "ohdsi:person/{{ $params.scientificContact.id }}",
      "technicalContact": "ohdsi:person/{{ $params.technicalContact.id }}",
      "alternateName": "{{ $params.alternateName }}",
      "dateCreated": "{{ $params.dateCreated }}",
      "dateModified": "{{ $params.dateModified }}",
      "description": "{{ $params.description }}",
      "endDate": "{{ $params.endDate }}",
      "identifier": "{{ $params.identifier }}",
      "name": "{{ $params.Title }}",
      "publication": "ohdsi:{{ $params.publication }}",
      "spatialCoverage": "{{ $params.spatialCoverage }}",
      "startDate": "{{ $params.startDate }}",
      "url": "{{ $params.databaseUrl }}",
      "version": "{{ $params.version }}"
    },
    {
      "@id": "ohdsi:person/{{ $params.administrativeContact.id }}",
      "@type": "schema:Person",
      "email": "{{ $params.administrativeContact.email }}",
      "name": "{{ $params.administrativeContact.name }}",
      "telephone": "{{ $params.administrativeContact.telephone }}"
    }
    {{ if ne $params.principalInvestigator.id $params.administrativeContact.id }},{
      "@id": "ohdsi:person/{{ $params.principalInvestigator.id }}",
      "@type": "schema:Person",
      "email": "{{ $params.principalInvestigator.email }}",
      "name": "{{ $params.principalInvestigator.name }}",
      "telephone": "{{ $params.principalInvestigator.telephone }}"
    }{{ end }}
    {{ if ne $params.scientificContact.id $params.administrativeContact.id }}{{ if ne $params.scientificContact.id $params.principalInvestigator.id }},{
      "@id": "ohdsi:person/{{ $params.scientificContact.id }}",
      "@type": "schema:Person",
      "email": "{{ $params.scientificContact.email }}",
      "name": "{{ $params.scientificContact.name }}",
      "telephone": "{{ $params.scientificContact.telephone }}"
    }{{ end }}{{ end }}
    {{ if ne $params.technicalContact.id $params.administrativeContact.id }}{{ if ne $params.technicalContact.id $params.principalInvestigator.id }}{{ if ne $params.technicalContact.id $params.scientificContact.id }},{
      "@id": "ohdsi:person/{{ $params.technicalContact.id }}",
      "@type": "schema:Person",
      "email": "{{ $params.technicalContact.email }}",
      "name": "{{ $params.technicalContact.name }}",
      "telephone": "{{ $params.technicalContact.telephone }}"
    }{{ end }}{{ end }}{{ end }}
  ],
  "@id": "urn:x-arq:DefaultGraphNode",
  "@context" : {
    "telephone" : "http://schema.org/telephone",
    "email" : "http://schema.org/email",
    "name" : "http://schema.org/name",
    "scientificContact" : {
      "@id" : "http://data.ohdsi.org/scientificContact",
      "@type" : "@id"
    },
    "principalInvestigator" : {
      "@id" : "http://data.ohdsi.org/principalInvestigator",
      "@type" : "@id"
    },
    "endDate" : {
      "@id" : "http://schema.org/endDate",
      "@type" : "http://www.w3.org/2001/XMLSchema#date"
    },
    "dateCreated" : {
      "@id" : "http://schema.org/dateCreated",
      "@type" : "http://www.w3.org/2001/XMLSchema#date"
    },
    "url" : "http://schema.org/url",
    "startDate" : {
      "@id" : "http://schema.org/startDate",
      "@type" : "http://www.w3.org/2001/XMLSchema#date"
    },
    "dateModified" : {
      "@id" : "http://schema.org/dateModified",
      "@type" : "http://www.w3.org/2001/XMLSchema#date"
    },
    "administrativeContact" : {
      "@id" : "http://data.ohdsi.org/administrativeContact",
      "@type" : "@id"
    },
    "spatialCoverage" : {
      "@id" : "http://schema.org/spatialCoverage",
      "@type" : "@id"
    },
    "alternateName" : "http://schema.org/alternateName",
    "technicalContact" : {
      "@id" : "http://data.ohdsi.org/technicalContact",
      "@type" : "@id"
    },
    "publication" : {
      "@id" : "http://schema.org/publication",
      "@type" : "@id"
    },
    "databaseCharacteristic" : "http://data.ohdsi.org/databaseCharacteristic",
    "description" : "http://schema.org/description",
    "populationSize" : {
      "@id" : "http://data.ohdsi.org/populationSize",
      "@type" : "http://www.w3.org/2001/XMLSchema#integer"
    },
    "identifier" : "http://schema.org/identifier",
    "version" : {
      "@id" : "http://schema.org/version",
      "@type" : "http://www.w3.org/2001/XMLSchema#decimal"
    },
    "associatedInstitution" : "http://data.ohdsi.org/associatedInstitution",
    "databaseSystem" : "http://data.ohdsi.org/databaseSystem",
    "schema" : "http://schema.org/",
    "xsd" : "http://www.w3.org/2001/XMLSchema#",
    "ohdsi" : "http://data.ohdsi.org/",
    "wd" : "https://www.wikidata.org/wiki/"
  }
}
            </code>
          </pre>
        </div>
      </div>
      
      {{ .Content }}
    </div>

    {{ partial "page_footer" . }}

    <div class="project-related-pages content-widget-hr">
      {{ $page := . }}
      {{ $project := .File.ContentBaseName }}

      {{ $items := where (where site.RegularPages "Type" "post") ".Params.projects" "intersect" (slice $project) }}
      {{ $count := len $items }}
      {{ if ge $count 1 }}
      <h2>{{ (i18n "posts") }}</h2>
      {{ range $items }}
      {{ if eq site.Params.projects.post_view 1 }}
      {{ partial "li_list" . }}
      {{ else if eq site.Params.projects.post_view 3 }}
      {{ partial "li_card" . }}
      {{ else }}
      {{ partial "li_compact" . }}
      {{ end }}
      {{ end }}
      {{ end }}

      {{ $items := where (where site.RegularPages "Type" "publication") ".Params.projects" "intersect" (slice $project) }}
      {{ $pubs_len := len $items }}
      {{ if ge $pubs_len 1 }}
      <h2>{{ (i18n "publications") }}</h2>
      {{ range $items }}
      {{ if eq site.Params.projects.publication_view 1 }}
      {{ partial "li_list" . }}
      {{ else if eq site.Params.projects.publication_view 3 }}
      {{ partial "li_card" . }}
      {{ else if eq site.Params.projects.publication_view 4 }}
      {{ partial "li_citation" . }}
      {{ else }}
      {{ partial "li_compact" . }}
      {{ end }}
      {{ end }}
      {{ end }}

      {{ $items := where (where site.RegularPages "Type" "talk") ".Params.projects" "intersect" (slice $project) }}
      {{ $talks_len := len $items }}
      {{ if ge $talks_len 1 }}
      <h2>{{ (i18n "talks") }}</h2>
      {{ range $items }}
      {{ if eq site.Params.projects.talk_view 1 }}
      {{ partial "li_list" . }}
      {{ else if eq site.Params.projects.talk_view 3 }}
      {{ partial "li_card" . }}
      {{ else }}
      {{ partial "li_compact" . }}
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
  </div>
</article>


{{- end -}}
