{{- $page := .page }}
{{ $summary := .summary }}
{{ $params := $page.Params}}
{{ $featured_image := ($page.Resources.ByType "image").GetMatch "*featured*" }}

{{ $author := partial "functions/get_author_name" $page }}
{{ $publisher := site.Params.org_name | default site.Title }}
{{ $logo_url := partial "functions/get_logo_url" $page -}}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MedicalObservationalStudy",
  "id": "{{ $params.id}}",
  "name": "{{$params.Title}}",
  "description": "{{$params.description}}",
  "disambiguatingDescription": "{{$params.disambiguatingDescription}}",
  "license": "{{$params.license}}",
  "datePublished": "{{$params.datePublished}}",
  {{/*}}"datePublished": "{{ $page.PublishDate.Format "2006-01-02T15:04:05Z07:00" }}",{{*/}}
  "contributor": [{{ range $i, $e := $params.contributor }}{{ if $i }}, {{ end }}
    {
      "@type" : "Person",
      "name" : "{{$e.name}}"
    }{{ end }}
  ],
  "studyDesign": {
    "@type": "MedicalObservationalStudyDesign",
    "id": "{{$params.studyDesign.id}}",
    "version": "{{$params.studyDesign.version}}",
    "dateModified": "{{$params.studyDesign.dateModified}}",
    "url": "{{$params.studyDesign.url}}"
  },
  "healthCondition": [{{ range $i, $e := $params.healthCondition }}{{ if $i }}, {{ end }}
    {
      "@type": "MedicalCondition",
      "name": "{{ .name }}",
      "code": {
        "@type": "MedicalCode",
        "termCode": "{{.code.termCode}}",
        "codingSystem": "{{.code.codingSystem}}",
        "inDefinedTermset": "{{.code.inDefinedTermset}}"
      }
    }{{ end }}
  ],
  "studySubject": [{{ range $i, $e := $params.studySubject }}{{ if $i }}, {{ end }}
    {
      "@type": "Drug",
      "name": "{{.name}}",
      "code": {
        "@type": "MedicalCode",
        "termCode": "{{.code.termCode}}",
        "codingSystem": "{{.code.codingSystem}}",
        "inDefinedTermset": "{{.code.inDefinedTermset}}"
      }
    }{{end}}
  ],
  "subjectOf": {
    "@type": "Event",
    "name": "{{.name}}",
    "organizer": {
      "@type": "Organization",
      "name": "{{.organizer.name}}"
    },
    "location": "{{.location}}", 
    "startDate": "{{.startDate}}",
    "endDate": "{{.endDate}}"
  },
  "result": [{{ range $i, $e := $params.result }}{{ if $i }}, {{ end }}{{ range $j, $v := .}}{{with (eq $j "@type")}}{{with (eq $v "MedicalScholarlyArticle")}}
    {
      "@type" : "MedicalScholarlyArticle",
      "url" : "{{$e.url}}"
    }{{end}}{{end}}{{with (eq $j "@type")}}{{with (eq $v "WebApplication")}} 
    {
      "@type" : "WebApplication",
      "url" : "{{$e.url}}"
    }{{end}}{{end}}{{end}}{{end}}
  ],
  "hasPart": [{{ range $i, $e := $params.hasPart }}{{ if $i }}, {{ end }}{{ range $j, $v := .}}{{with (eq $j "@type")}}{{with (eq $v "SoftwareApplication")}}
    {
      "@type" : "SoftwareApplication",
      "name" : "{{$e.name}}",
      "installURL" : "{{$e.installURL}}",
      "softwareVersion" : "{{$e.softwareVersion}}",
      "maintainer" : 
        {
          "@type" : "Organization",
          "name" : "{{$e.maintainer.name}}"
        }
    }{{end}}{{end}}{{with (eq $j "@type")}}{{with (eq $v "SoftwareSourceCode")}}
    {
      "@type" : "SoftwareSourceCode",
      "codeRepository" : "{{$e.codeRepository}}",
      "programmingLanguage" : "{{$e.programmingLanguage}}",
      "version" : "{{$e.version}}",
      "maintainer" :
        {
          "@type" : "Organization",
          "name" : "{{$e.maintainer.name}}"
        }
    }{{end}}{{end}}{{end}}{{end}}
  ],
  "citation": [{{ range $i, $e := $params.citation }}{{ if $i }}, {{ end }}
    {
      "@type": "ScholarlyArticle",
      "url": "{{.url}}",
      "author": [{{ range $j, $v := $e.author }}{{ if $j }}, {{ end }}
        {
          "@type": "Person",
          "name": "{{.name}}"
        }{{end}}
      ],
      "datePublished": "{{.url}}",
      "headline": "{{.headline}}",
      "publisher": {
        "@type": "Organization",
        "name": "{{.name}}"
      }
    }{{end}}
  ],
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{$page.Permalink}}"
  },
  "image": [{{ if $featured_image }}
    {{$featured_image.Permalink}}
    {{end}}],
  {{/*}}"dateModified": "{{ $page.Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",{{*/}}
  "authors": [{{range $params.authors}}
    {
      "@type": "Person",
      "name": "{{.}}"
    },
  {{end}}],
  "publisher": {
    "@type": "Organization",
    "name": "{{$publisher}}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{$logo_url}}"
    }
  }
}
</script>
