// Override this file to add your own SCSS styling.
body{
  //background-color: #f00;
}

dl{
  background-color: #eee;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  dt{
    width: 25%;
    flex-shrink: 0;
    flex-grow: 0;
  }
  dd{
    width: 75%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}