{{- $params := .value -}}
{{- $type := .type }}
{
  "@graph": [
    {{ range $i, $e := $params.drugs }}{
      "@id": "concept:{{ .id }}",
      "@type": "schema:Drug",
      "code": "_:{{ .code.id }}",
      "identifier": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .id) }},
      "name": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .name) }}
    },{{ end }}{{ range $i, $e := $params.drugs }}
    {
      "@id": "_:{{ .code.id }}",
      "@type": "schema:MedicalCode",
      "codeValue": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .code.codeValue) }},
      "codingSystem": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .code.codingSystem) }}{{ with .code.sameAs }},
      "sameAs": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .) }}{{ end }}
    },{{ end }}{{ range $i, $e := $params.healthConditions }}
    {
      "@id": "concept:{{ .id }}",
      "@type": "schema:MedicalCondition",
      "code": "_:{{ .code.id }}",
      "identifier": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .id) }},
      "name": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .name) }}
    },{{ end }}{{ range $i, $e := $params.healthConditions }}
    {
      "@id": "_:{{ .code.id }}",
      "@type": "schema:MedicalCode",
      "codeValue": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .code.codeValue) }},
      "codingSystem": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .code.codingSystem) }}{{ with .code.sameAs }},
      "sameAs": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .) }}{{ end }}
    },{{ end }}{{ range $i, $e := $params.authors }}{{- $profile_page := site.GetPage (printf "/authors/%s" $e) -}}
    {
      "@id": "person:{{ $e }}",
      "@type": "schema:Person",
      {{ with $profile_page.Params.accounts.ohdsiForumName }}"forumProfile": "https://forums.ohdsi.org/u/{{ . }}",{{ end }}
      {{ with $profile_page.Params.accounts.githubHandle }}"githubHandle": "https://github.com/{{ . }}",{{ end }}
      {{ with $profile_page.Params.accounts.googlescholarId }}"googleScholarID": "https://scholar.google.com/citations?user={{ . }}",{{ end }}
      {{ with $profile_page.Params.accounts.ohdsiCollaborator }}"schema:mainEntityOfPage": "https://www.ohdsi.org/who-we-are/collaborators/{{ . }}",{{ end }}
      {{ with $profile_page.Params.accounts.orcidIdentifier }}"orcidID": "https://orcid.org/{{ . }}",{{ end }}
      {{ with $profile_page.Params.honorificPrefix }}"honorificPrefix": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .) }},{{ end }}
      {{ with $profile_page.Params.honorificSuffix }}"honorificSuffix": [{{ range $j, $v := $profile_page.Params.honorificSuffix }}{{ if $j }}, {{ end }}
        {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .) }}{{ end }}
      ],{{ end }}
      {{ with $profile_page.Params.organizations }}"jobTitle": [{{ range $j, $v := $profile_page.Params.organizations }}{{ if $j }}, {{ end }}
        {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .jobTitle) }}{{ end }}
      ],{{ end }}
      "name": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $profile_page.Params.title) }},
      {{ with $profile_page.Params.organizations }}"worksFor": [{{ range $j, $v := . }}{{ if $j }}, {{ end }}
        {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .id) }}{{ end }}
      ]{{ end }}
    },{{ range $profile_page.Params.organizations }}
    {
      "@id": "_:{{ .id }}",
      "@type": "schema:Organization",
      "address": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .address) }},
      "department": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .department) }},
      "name": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .name) }}
    },{{ end }}{{ end }}{{ range $i, $e := $params.softwareSourceCodes }}
    {
      "@id": "_:{{ .id }}",
      "@type": "schema:SoftwareSourceCode",
      "codeRepository": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .codeRepository) }},
      "dateModified": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .dateModified) }},
      "maintainer": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .maintainer) }},
      "programmingLanguage": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .programmingLanguage) }},
      "version": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .version) }}
    },{{ end }}{{ range $i, $e := $params.softwareApplications }}
    {
      "@id": "_:{{ .id }}",
      "@type": "schema:SoftwareApplication",
      "mainEntityofPage": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .mainEntityofPage) }},
      "maintainer": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .maintainer) }},
      "name": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .name) }},
      "softwareVersion": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .version) }}
    },{{ end }}{{range $i, $e := $params.databases}}{{- $db_page := site.GetPage (printf "/database/%s" $e) -}}
    {
      "@id": "database:{{ $e }}",
      "@type": "ohdsi:Database",
      "identifier": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $db_page.Params.identifier) }},
      "name": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $db_page.Params.title) }}
    },{{ end }}{{ range $i, $e := $params.results }}
    {
      "@id": "_:{{ .id }}",
      "@type": "schema:WebApplication",
      "mainEntityofPage": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .mainEntityofPage) }},
      "name": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .name) }}
    },{{ end }}
    {
      "@id": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.studyDesign.id) }},
      "@type": "schema:MedicalObservationalStudyDesign",
      "dateModified": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.studyDesign.dateModified) }},
      "identifier": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.studyDesign.identifier) }},
      "license": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.studyDesign.license) }},
      "url": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.studyDesign.url) }},
      "version": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.studyDesign.version) }}
    },
    {
      "@id": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.event.id) }},
      "@type": "schema:Event",
      "endDate": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.event.endDate) }},
      "location": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.event.location) }},
      "mainEntityOfPage": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.event.mainEntityOfPage) }},
      "name": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.event.name) }},
      "organizer": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.event.organizer) }},
      "recordedIn": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.event.recordedIn) }},
      "startDate": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.event.startDate) }}
    },{{ range $params.eventLocations }}
    {
      "@id": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .id) }},
      "@type": "schema:{{ .type }}",
      "name": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .name) }} 
    },{{ end }}{{ range $params.eventRecordLocations }}
    {
      "@id": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .id) }},
      "@type": "schema:VideoObject",
      "creator": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .creator) }},
      "uploadDate": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" .uploadDate) }} 
    },{{ end }}
    {
      "@id": "study:{{ $params.id }}",
      "@type": "schema:MedicalObservationalStudy",
      "ohdsi:database": [{{ range $i, $e := $params.databases }}{{ if $i }}, {{ end }}
        "database:{{ $e }}"{{ end }}
      ],
      "author": [{{ range $i, $e := $params.authors }}{{ if $i }}, {{ end }}
        "person:{{ $e }}"{{ end }}
      ],
      "dateCreated": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.dateCreated) }},
      "description": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.description) }},
      "discussionUrl": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.discussionUrl) }},
      "hasPart": [{{ range $i, $e := $params.softwareSourceCodes }}{{ if $i }}, {{ end }}
        "_:{{ .id }}"{{ end }},{{ range $i, $e := $params.softwareApplications }}{{ if $i }}, {{ end }}
        "_:{{ .id }}"{{ end }}
      ],
      "healthCondition": [{{ range $i, $e := $params.healthConditions }}{{ if $i }}, {{ end }}
        "concept:{{ .id }}"{{ end }}
      ],
      "identifier": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.identifier) }},
      "name": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.title) }},
      {{ if $params.analyticsUseCase }}
      {{- with $params.analyticsUseCase -}}
      {{- $all_study_usecase := partial "functions/get_study_usecases_jsonld" . -}}
      {{- $indexInt := int . -}}
      "analyticsUseCase": "ohdsi:{{- index $all_study_usecase $indexInt -}}",
      {{- end -}}
      {{ end }}
      {{ if $params.studyStatus }}
      {{- with $params.studyStatus -}}
      {{- $all_study_status := partial "functions/get_study_status_jsonld" . -}}
      {{- $indexInt := int . -}}
      "status": "ohdsi:{{- index $all_study_status $indexInt -}}",
      {{- end -}}
      {{ end }}
      {{ if $params.studyType }}
      {{- with $params.studyType -}}
      "studyType": [
      {{- $all_study_types := partial "functions/get_study_types_jsonld" . -}}
      {{- range $i, $v := . }}{{- if $i -}}, {{- end -}}
      {{- $indexInt := int $v -}}
      "ohdsi:{{ index $all_study_types $indexInt }}"
      {{- end -}}],
      {{- end -}}
      {{ end }}
      {{ if $params.publications }}
      {{- with $params.publications -}}
      "publication": [
      {{- range $i, $v := . -}}{{- if $i -}}, {{- end -}}
      {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $v.url) }}
      {{- end -}}],
      {{- end -}}
      {{ end }}
      {{ if $params.results }}
      {{- with $params.results -}}
      "result": [
      {{- range $i, $v := . -}}{{- if $i -}}, {{- end -}}
      "_:{{ $v.id }}"
      {{- end -}}],
      {{- end -}}
      {{ end }}
      "studyDesign": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.studyDesign.id) }},
      "studySubject": [{{ range $i, $e := $params.drugs }}{{ if $i }}, {{ end }}
        "concept:{{ .id }}"{{ end }}
      ],
      "subjectOf": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.event.id) }},
      "mainEntityOfPage": {{ partial "functions/get_jsonld_value" (dict "type" $type "value" $params.mainEntityOfPage) }}
    }
  ],
  "@context": {
    "name": {
      "@id": "http://schema.org/name"
    },
    "mainEntityofPage": {
      "@id": "http://schema.org/mainEntityofPage"
    },
    "recordedIn": {
      "@id": "http://schema.org/recordedIn",
      "@type": "@id"
    },
    "mainEntityOfPage": {
      "@id": "http://schema.org/mainEntityOfPage",
      "@type": "@id"
    },
    "endDate": {
      "@id": "http://schema.org/endDate",
      "@type": "http://www.w3.org/2001/XMLSchema#date"
    },
    "startDate": {
      "@id": "http://schema.org/startDate",
      "@type": "http://www.w3.org/2001/XMLSchema#date"
    },
    "location": {
      "@id": "http://schema.org/location",
      "@type": "@id"
    },
    "organizer": {
      "@id": "http://schema.org/organizer",
      "@type": "@id"
    },
    "code": {
      "@id": "http://schema.org/code",
      "@type": "@id"
    },
    "identifier": {
      "@id": "http://schema.org/identifier"
    },
    "address": {
      "@id": "http://schema.org/address"
    },
    "department": {
      "@id": "http://schema.org/department"
    },
    "honorificSuffix": {
      "@id": "http://schema.org/honorificSuffix"
    },
    "forumProfile": {
      "@id": "http://data.ohdsi.org/forumProfile"
    },
    "githubHandle": {
      "@id": "http://data.ohdsi.org/githubHandle"
    },
    "worksFor": {
      "@id": "http://schema.org/worksFor",
      "@type": "@id"
    },
    "googleScholarID": {
      "@id": "http://data.ohdsi.org/googleScholarID"
    },
    "jobTitle": {
      "@id": "http://schema.org/jobTitle"
    },
    "orcidID": {
      "@id": "http://data.ohdsi.org/orcidID"
    },
    "creator": {
      "@id": "http://schema.org/creator",
      "@type": "@id"
    },
    "uploadDate": {
      "@id": "http://schema.org/uploadDate",
      "@type": "http://www.w3.org/2001/XMLSchema#date"
    },
    "maintainer": {
      "@id": "http://schema.org/maintainer",
      "@type": "@id"
    },
    "version": {
      "@id": "http://schema.org/version",
      "@type": "http://www.w3.org/2001/XMLSchema#decimal"
    },
    "programmingLanguage": {
      "@id": "http://schema.org/programmingLanguage"
    },
    "dateModified": {
      "@id": "http://schema.org/dateModified",
      "@type": "http://www.w3.org/2001/XMLSchema#date"
    },
    "codeRepository": {
      "@id": "http://schema.org/codeRepository"
    },
    "sameAs": {
      "@id": "http://schema.org/sameAs"
    },
    "codingSystem": {
      "@id": "http://schema.org/codingSystem"
    },
    "codeValue": {
      "@id": "http://schema.org/codeValue"
    },
    "license": {
      "@id": "http://schema.org/license"
    },
    "url": {
      "@id": "http://schema.org/url"
    },
    "softwareVersion": {
      "@id": "http://schema.org/softwareVersion",
      "@type": "http://www.w3.org/2001/XMLSchema#decimal"
    },
    "healthCondition": {
      "@id": "http://schema.org/healthCondition",
      "@type": "@id"
    },
    "hasPart": {
      "@id": "http://schema.org/hasPart",
      "@type": "@id"
    },
    "result": {
      "@id": "http://schema.org/result",
      "@type": "@id"
    },
    "studySubject": {
      "@id": "http://schema.org/studySubject",
      "@type": "@id"
    },
    "dateCreated": {
      "@id": "http://schema.org/dateCreated",
      "@type": "http://www.w3.org/2001/XMLSchema#date"
    },
    "status": {
      "@id": "http://schema.org/status",
      "@type": "@id"
    },
    "subjectOf": {
      "@id": "http://schema.org/subjectOf",
      "@type": "@id"
    },
    "studyType": {
      "@id": "http://data.ohdsi.org/studyType",
      "@type": "@id"
    },
    "author": {
      "@id": "http://schema.org/author",
      "@type": "@id"
    },
    "description": {
      "@id": "http://schema.org/description"
    },
    "discussionUrl": {
      "@id": "http://schema.org/discussionUrl"
    },
    "database": "https://covid19.ohdsi.app/database/",
    "publication": {
      "@id": "http://schema.org/publication",
      "@type": "@id"
    },
    "studyDesign": {
      "@id": "http://schema.org/studyDesign",
      "@type": "@id"
    },
    "analyticsUseCase": {
      "@id": "http://data.ohdsi.org/analyticsUseCase",
      "@type": "@id"
    },
    "schema": "http://schema.org/",
    "study": "https://covid19.ohdsi.app/study/",
    "owl": "http://www.w3.org/2002/07/owl#",
    "person": "https://covid19.ohdsi.app/author/",
    "snomed": "http://snomed.info/id/",
    "concept": "http://data.ohdsi.org/concept/",
    "xsd": "http://www.w3.org/2001/XMLSchema#",
    "ohdsi": "http://data.ohdsi.org/",
    "covid19": "https://covid19.ohdsi.app/"
  }
}
