<ul class="network-icon" aria-hidden="true">
  {{/* $icon_class := "" }}
  {{ $pack := or .icon_pack "fas" }}
  {{if .big_icon}}
    {{ $icon_class = "big-icon" }}
  {{ end }}

  {{ range .social }}
    {{ $link := ""}}
    {{ $icon := ""}}
    {{ $pack := ""}}

    {{ if .orcid }}
      {{ $link = printf "https://orcid.org/%s" .orcid}}
      {{ $pack = "fab"}}
      {{ $icon = "orcid"}}
    {{ else if .twitter }}
      {{ $link = printf "https://twitter.com/%s" .twitter}}
      {{ $pack = "fab"}}
      {{ $icon = "twitter"}}
    {{ else if .github }}
      {{ $link = printf "https://github.com/%s" .github}}
      {{ $pack = "fab"}}
      {{ $icon = "github"}}
    {{ else if .google_scholar }}
      {{ $link = printf "https://scholar.google.com/citations?user=%s" .google_scholar}}
      {{ $pack = "ai"}}
      {{ $icon = "google-scholar"}}
    {{ else if .skype }}
      {{ $link = printf "skype:%s" .skype}}
      {{ $pack = "fab"}}
      {{ $icon = "skype"}}
    {{ else if .ohdsi_forums }}
      {{ $link = printf "https://forums.ohdsi.org/u/%s" .ohdsi_forums}}
      {{ $pack = "fab"}}
      {{ $icon = "discourse"}}
    {{ else if .ohdsi_collaborators }}
      {{ $link = printf "https://www.ohdsi.org/who-we-are/collaborators/%s" .ohdsi_collaborators}}
      {{ $pack = "fas"}}
      {{ $icon = "globe"}}
    {{ else }}    
      {{ $pack = or .icon_pack "fas" }}
      {{ $link = .link }}
      {{ $icon = .icon }}
    {{ end }}


    {{ range .Params.social }}
      {{ $pack := or .icon_pack "fas" }}
      {{ $pack_prefix := $pack }}
      {{ if in (slice "fab" "fas" "far" "fal") $pack }}
        {{ $pack_prefix = "fa" }}
      {{ end }}
      {{ $link := .link }}
      {{ $scheme := (urls.Parse $link).Scheme }}
      {{ $target := "" }}
      {{ if not $scheme }}
        {{ $link = .link | relLangURL }}
      {{ else if in (slice "http" "https") $scheme }}
        {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
      {{ end }}
      <li>
        <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
          <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }}"></i>
        </a>
      </li>
    {{end}}
  {{end */}}
</ul>
