{{- define "main" -}}
{{ $params := .Params }}
<article class="article article-project">
  {{ partial "page_header" . }}

  <div class="article-container">
    <div class="article-style">
      {{ $description := .Description }}
      <p>{{ $description }}</p>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab"
            aria-controls="details" aria-selected="true">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="software-tab" data-toggle="tab" href="#software" role="tab" aria-controls="software"
            aria-selected="false">Code</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="databases-tab" data-toggle="tab" href="#databases" role="tab"
            aria-controls="databases" aria-selected="false">Databases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="jsonld-tab" data-toggle="tab" href="#jsonld" role="tab" aria-controls="jsonld"
            aria-selected="false">JSON-LD</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
          {{ with .Params.study_subject }}
          <b>Drugs:</b>
          <ul>
            {{ range . }}
            <li>{{ .concept_name }} {{ with .descendants_included }}(descendants included){{ end }}</li>
            {{ end }}
          </ul>
          {{ end }}

          {{ with .Params.conditions }}
          <b>Health Conditions:</b>
          <ul>
            {{ range . }}
            <li>{{ .concept_name }} {{ with .descendants_included }}(descendants included){{ end }}</li>
            {{ end }}
          </ul>
          {{ end }}

          {{ $location := "" }}
          {{ range $params.eventLocations }}
          {{ if eq .id $params.event.location }}
          {{ $location = .name }}
          {{ end }}
          {{ end }}
          {{ $organizer := "" }}
          {{ range $params.organizations }}
          {{ if eq .id $params.event.organizer }}
          {{ $organizer = .name }}
          {{ end }}
          {{ end }}
          {{ with .Params.event }}
          <p><b>Event:</b> {{ .name }} <i>({{ .start_date }} to {{ .end_date }})</i> at {{ .location.name }}, Organizer:
            {{ $organizer }}</p>
          {{ end }}

          {{if .Params.results }}
          {{ with .Params.results }}
          <b>Results:</b>
          <ul>
            {{ range . }}
            <li><a href="{{.application_url}}">{{.name}}</a></li>
            {{ end }}
          </ul>
          {{ end }}
          {{ end }}

        </div>
        <div class="tab-pane fade" id="software" role="tabpanel" aria-labelledby="software-tab">
          {{ with .Params.software }}
          <b>Applications:</b>
          <ul>
            {{ range . }}
            <li><a href="{{ .source_code_url }}">{{ .name }}</a> Version: {{ .version }}</li>
            {{ end }}
          </ul>
          {{ end }}

          {{ with .Params.source_code }}
          <b>Source Code:</b>
          <ul>
            {{ range $source_code := . }}
            {{ $maintainer := "" }}
            {{ range $params.organizations }}
            {{ if eq .organization_identifier $source_code.maintainer }}
            {{ $maintainer = .name }}
            {{ end }}
            {{ end }}
            <li><a href="{{ .code_repository_url }}">{{ .name }}</a> Version: {{ .version }}, Programming Language:
              {{ .programming_language }}, Maintainer: {{ $maintainer }}</li>
            {{ end }}
          </ul>
          {{ end }}
        </div>
        <div class="tab-pane fade" id="databases" role="tabpanel" aria-labelledby="databases-tab">
          {{ with .Params.databases }}
          <b>Databases:</b>
          <ul>
            {{ range $i, $e := . }}
            {{- $db_page := site.GetPage (printf "/database/%s" $e) -}}
            <li><a href="{{ $db_page.URL }}">{{ $db_page.Params.title }}</a></li>
            {{ end }}
          </ul>
          {{ end }}
        </div>
        <div class="tab-pane fade" id="jsonld" role="tabpanel" aria-labelledby="jsonld-tab" style="position: relative;">
          {{ partial "page_study_jsonld_tab" .Params }}
        </div>
      </div>
      {{ .Content }}
    </div>
    {{ partial "page_footer" . }}

    <div class="project-related-pages content-widget-hr">
      {{ $page := . }}
      {{ $project := .File.ContentBaseName }}

      {{ $items := where (where site.RegularPages "Type" "post") ".Params.projects" "intersect" (slice $project) }}
      {{ $count := len $items }}
      {{ if ge $count 1 }}
      <h2>{{ (i18n "posts") }}</h2>
      {{ range $items }}
      {{ if eq site.Params.projects.post_view 1 }}
      {{ partial "li_list" . }}
      {{ else if eq site.Params.projects.post_view 3 }}
      {{ partial "li_card" . }}
      {{ else }}
      {{ partial "li_compact" . }}
      {{ end }}
      {{ end }}
      {{ end }}

      {{ $items := where (where site.RegularPages "Type" "publication") ".Params.projects" "intersect" (slice $project) }}
      {{ $pubs_len := len $items }}
      {{ if ge $pubs_len 1 }}
      <h2>{{ (i18n "publications") }}</h2>
      {{ range $items }}
      {{ if eq site.Params.projects.publication_view 1 }}
      {{ partial "li_list" . }}
      {{ else if eq site.Params.projects.publication_view 3 }}
      {{ partial "li_card" . }}
      {{ else if eq site.Params.projects.publication_view 4 }}
      {{ partial "li_citation" . }}
      {{ else }}
      {{ partial "li_compact" . }}
      {{ end }}
      {{ end }}
      {{ end }}

      {{ $items := where (where site.RegularPages "Type" "talk") ".Params.projects" "intersect" (slice $project) }}
      {{ $talks_len := len $items }}
      {{ if ge $talks_len 1 }}
      <h2>{{ (i18n "talks") }}</h2>
      {{ range $items }}
      {{ if eq site.Params.projects.talk_view 1 }}
      {{ partial "li_list" . }}
      {{ else if eq site.Params.projects.talk_view 3 }}
      {{ partial "li_card" . }}
      {{ else }}
      {{ partial "li_compact" . }}
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
  </div>
</article>


{{- end -}}